files:
  "/home/ec2-user/docker-housekeeping.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # remove all stopped containers
      docker rm $(docker ps -a -q)
      # remove all unused images
      docker images -q | while read line; do docker rmi $line 2>/dev/null; done
      exit 0

container_commands:
  01_docker_housekeeping:
    command: /home/ec2-user/docker-housekeeping.sh
