---
http_interactions:
- request:
    method: post
    uri: https://act.sumofus.org/rest/v1/action/
    body:
      encoding: UTF-8
      string: '{"email":"test@sou.com","page":"petition-test-rodri-petition","referring_akid":"35578.11727499.ygNy8N","mailing_id":null}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Machine-Id:
      - ip-10-50-1-77
      X-Handled-For:
      - 190.194.200.217
      Location:
      - https://act.sumofus.org/rest/v1/petitionaction/95878314/
    body:
      encoding: UTF-8
      string: '{"akid": "35578.14220077.4687fQ", "created_at": "2017-12-21T00:16:01.756340",
        "created_user": false, "fields": {}, "id": 95878314, "ip_address": "190.194.200.217",
        "is_forwarded": true, "link": null, "mailing": "/rest/v1/mailing/35578/",
        "opq_id": "", "page": "/rest/v1/petitionpage/19891/", "redirect_url": "/cms/thanks/petition-test-rodri-petition?action_id=95878314&akid=35578.14220077.4687fQ&ar=1&rd=1",
        "referring_mailing": "/rest/v1/mailing/35578/", "referring_user": "/rest/v1/user/11727499/",
        "resource_uri": "/rest/v1/petitionaction/95878314/", "source": "restful_api",
        "status": "complete", "subscribed_user": false, "taf_emails_sent": null, "type":
        "Petition", "updated_at": "2017-12-21T00:16:01.781799", "user": "/rest/v1/user/14220077/"}'
  recorded_at: Thu, 21 Dec 2017 00:16:01 GMT
- request:
    method: put
    uri: https://act.sumofus.org/rest/v1/petitionaction/95878314/
    body:
      encoding: UTF-8
      string: '{"mailing":null}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/plain
      X-Machine-Id:
      - ip-10-50-1-88
      X-Handled-For:
      - 190.194.200.217
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Dec 2017 00:16:03 GMT
recorded_with: VCR 3.0.1
