---
http_interactions:
- request:
    method: post
    uri: https://act.sumofus.org/rest/v1/action/
    body:
      encoding: UTF-8
      string: '{"page":"i-do-not-exist-anywhere","name":"Pablo José Francisco de María","postal":"W1","address1":"The
        Lodge","address2":"High Street","city":"London","country":"United Kingdom","action_age":"101","action_foo":"Foo","action_bar":"Bar","ignored":"ignore
        me","email":"omar@sumofus.org","source":"FB","akid":"3.4234.fsdf","mailing_id":"3"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      X-Machine-Id:
      - web-g02-02.actionkit.com
    body:
      encoding: UTF-8
      string: '{"page": "Unable to find a page for processing. You sent page=i-do-not-exist-anywhere."}'
  recorded_at: Wed, 24 Feb 2016 13:30:16 GMT
recorded_with: VCR 3.0.1
