---
http_interactions:
- request:
    method: get
    uri: https://act.sumofus.org/rest/v1/order/1986081/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account": "GoCardless GBP", "action": "/rest/v1/donationaction/146539179/",
        "card_num_last_four": "DDEB", "created_at": "2020-02-03T23:03:14", "currency":
        "GBP", "id": 1986081, "import_id": null, "orderdetails": [], "orderrecurrings":
        ["/rest/v1/orderrecurring/67361/"], "payment_method": "cc", "resource_uri":
        "/rest/v1/order/1986081/", "reverse": "/rest/v1/order/1986081/reverse/", "shipping_address":
        null, "status": "completed", "total": "7.63", "total_converted": "9.96", "transactions":
        ["/rest/v1/transaction/3200425/", "/rest/v1/transaction/3200427/", "/rest/v1/transaction/3200432/"],
        "updated_at": "2020-02-03T23:03:14", "user": "/rest/v1/user/15345493/", "user_detail":
        "/rest/v1/orderuserdetail/1986209/"}'
  recorded_at: Tue, 04 Feb 2020 19:36:29 GMT
- request:
    method: get
    uri: https://act.sumofus.org/rest/v1/transaction/3200432/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account": "GoCardless GBP", "amount": "7.63", "amount_converted":
        "9.96", "created_at": "2020-02-03T23:36:15", "currency": "GBP", "failure_code":
        "", "failure_description": "", "failure_message": "", "id": 3200432, "order":
        "/rest/v1/order/1986081/", "resource_uri": "/rest/v1/transaction/3200432/",
        "status": "failed", "success": true, "test_mode": false, "trans_id": "PM00108B8NKVAC",
        "type": "sale", "updated_at": "2020-02-04T15:07:42"}'
  recorded_at: Tue, 04 Feb 2020 19:36:30 GMT
- request:
    method: put
    uri: https://act.sumofus.org/rest/v1/transaction/3200432/
    body:
      encoding: UTF-8
      string: '{"status":"failed"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Feb 2020 19:36:32 GMT
recorded_with: VCR 4.0.0
