---
http_interactions:
- request:
    method: put
    uri: https://act.sumofus.org/rest/v1/user/8244194/
    body:
      encoding: UTF-8
      string: '{"akid":"8244194","email":"weriopweirpwgklwrkpowiro@example.com","first_name":"Guybrush","last_name":"Threepwood","country":"United
        Kingdom","postal":"12345","address1":"Jam Factory 123","address2":"Random
        address"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Machine-Id:
      - web-g02-03.actionkit.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 22 Aug 2016 13:17:38 GMT
recorded_with: VCR 3.0.1
