---
http_interactions:
- request:
    method: put
    uri: https://act.sumofus.org/rest/v1/petitionaction/75528607/
    body:
      encoding: UTF-8
      string: '{"page":"/rest/v1/petitionpage/16626/","name":"Pablo José Francisco
        de María","postal":"W1","address1":"The Lodge","address2":"High Street","city":"London","country":"United
        Kingdom","action_age":"101","action_foo":"Foo","action_bar":"Bar","ignored":"ignore
        me","email":"omar@sumofus.org","source":"FB","akid":"3.4234.fsdf"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/plain
      X-Machine-Id:
      - ip-10-50-2-90
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Oct 2016 22:38:59 GMT
recorded_with: VCR 3.0.1
