---
http_interactions:
- request:
    method: post
    uri: https://<AK_USERNAME>:<AK_PASSWORD>@act.sumofus.org/rest/v1/petitionpage/
    body:
      encoding: UTF-8
      string: '{"page_id":4699,"name":"aidez-nous-a-reveler-le-cruel-secret-des-poussins-de-mcdonald-s-1-donation","title":"Aidez-nous
        à révéler le cruel secret des poussins de McDonald''s (Donation)","language":"/rest/v1/language/100/","tags":null,"url":"https://actions.sumofus.org/a/aidez-nous-a-reveler-le-cruel-secret-des-poussins-de-mcdonald-s-1","hosted_with":"/rest/v1/hostingplatform/2/","page_type":"donation","multilingual_campaign":null,"hpc_rule":"/rest/v1/donationhpcrule/22/"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://act.sumofus.org/rest/v1/petitionpage/23597/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Feb 2019 08:55:14 GMT
- request:
    method: post
    uri: https://<AK_USERNAME>:<AK_PASSWORD>@act.sumofus.org/rest/v1/petitionform/
    body:
      encoding: UTF-8
      string: '{"page":"https://act.sumofus.org/rest/v1/petitionpage/23597/","client_hosted":true,"client_url":"https://actions.sumofus.org/a/aidez-nous-a-reveler-le-cruel-secret-des-poussins-de-mcdonald-s-1","ask_text":"Dummy
        ask","thank_you_text":"Dummy thank you","statement_text":"Dummy statement"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://act.sumofus.org/rest/v1/petitionform/7693/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Feb 2019 12:03:22 GMT
- request:
    method: post
    uri: https://<AK_USERNAME>:<AK_PASSWORD>@act.sumofus.org/rest/v1/pagefollowup/
    body:
      encoding: UTF-8
      string: '{"url":"https://not.used.com","send_confirmation":true,"page":"https://act.sumofus.org/rest/v1/donationpage/23556/","email_wrapper":"https://act.sumofus.org/rest/v1/emailwrapper/25/","email_from_line":"https://act.sumofus.org/rest/v1/fromline/62/","email_subject":"Thanks
        for your donation!","email_body":"\u003cp\u003eHi there {{ user.first_name|capfirst|default:\"friend\"
        }},\u003c/p\u003e\n\u003cp\u003eThank you so much for your donation. I can’t
        tell you how much it means to us here at SumOfUs. By donating, you’re leading
        the charge to stop big corporations from behaving badly. Now more than ever,
        this is work that needs to be done.\u003c/p\u003e\n\u003cp\u003eYour donation
        will help to power our campaigning. We’ve included the receipt below.\u003c/p\u0[...]
