---
http_interactions:
- request:
    method: put
    uri: https://act.sumofus.org/rest/v1/multilingualcampaign/120/
    body:
      encoding: UTF-8
      string: '{"name":"AKProcessor test: Updated campaign"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Machine-Id:
      - web-g02-01.actionkit.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2016 20:58:56 GMT
- request:
    method: get
    uri: https://act.sumofus.org/rest/v1/multilingualcampaign/120/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Machine-Id:
      - web-g02-02.actionkit.com
    body:
      encoding: UTF-8
      string: '{"created_at": "2016-08-02T19:05:16", "hidden": false, "id": 120, "name":
        "AKProcessor test: Updated campaign", "resource_uri": "/rest/v1/multilingualcampaign/120/",
        "updated_at": "2016-08-02T20:58:56"}'
  recorded_at: Tue, 02 Aug 2016 20:58:57 GMT
recorded_with: VCR 3.0.1
