---
http_interactions:
- request:
    method: post
    uri: https://act.sumofus.org/rest/v1/action/
    body:
      encoding: UTF-8
      string: '{"page":"foo-bar","name":"Pablo José Francisco de María","postal":"20001","address1":"Cookie
        Factory","address2":"Lombard Street","city":"San Francisco","country":"United
        States","email":"test@example.com","source":"FB","akid":"3.4234.fsdf","mailing_id":"3"}'
    headers:
      Content-Type:
      - application/json
      Charset:
      - UTF-8
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Location:
      - https://act.sumofus.org/rest/v1/petitionaction/78690244/
      X-Machine-Id:
      - ip-10-50-1-128
    body:
      encoding: UTF-8
      string: '{"akid": "3.991564.oQWhY6", "created_at": "2016-12-13T19:08:35.538267",
        "created_user": false, "fields": {}, "id": 78690244, "ip_address": "24.5.77.14",
        "is_forwarded": false, "link": null, "mailing": "/rest/v1/mailing/3/", "opq_id":
        "", "page": "/rest/v1/petitionpage/8651/", "redirect_url": "/cms/thanks/foo-bar?action_id=78690244&akid=3.991564.oQWhY6&ar=1&rd=1",
        "referring_mailing": null, "referring_user": null, "resource_uri": "/rest/v1/petitionaction/78690244/",
        "source": "FB", "status": "complete", "subscribed_user": false, "taf_emails_sent":
        null, "type": "Petition", "updated_at": "2016-12-13T19:08:35.581460", "user":
        "/rest/v1/user/991564/"}'
  recorded_at: Tue, 13 Dec 2016 19:08:35 GMT
recorded_with: VCR 3.0.1
