ROOT_ACTION_URL: 'http://example.com'
AK_PASSWORD: 'password'
AK_USERNAME: 'username'
AK_HOST: 'https://act.sumofus.org/'
HPC_RULE_ID: '22'
AK_SUBSCRIPTION_PAGE_NAME: 'registration'
ACTIONS_CACHE_SIZE: 100