ACTIONS_CACHE_SIZE: 100
AIRBRAKE_API_KEY: api_key
AIRBRAKE_PROJECT_ID: project_id
AK_PASSWORD: password
AK_USERNAME: username
AK_HOST: http://example.com
AK_SUBSCRIPTION_PAGE_AR: registration_arabic
AK_SUBSCRIPTION_PAGE_DE: registration_german
AK_SUBSCRIPTION_PAGE_EN: registration
AK_SUBSCRIPTION_PAGE_ES: registration_spanish
AK_SUBSCRIPTION_PAGE_FR: registration_french
AK_SUBSCRIPTION_PAGE_NL: registration_dutch
AK_SUBSCRIPTION_PAGE_PT: registration_portuguese
AWS_REGION: aws_region
BYPASS_ZIP_VALIDATION: true
CHAMPAIGN_API_KEY: api_key
CHAMPAIGN_HOST: http://example.com
CONSTITUENCIES_TABLE: DummyTable
DEFAULT_US_ZIP: 12345
DEVISE_SECRET_KEY: secret_key
HPC_RULE_ID: 22
PFU_AR_EMAIL_WRAPPER_URI: http://example.com
PFU_DE_EMAIL_WRAPPER_URI: http://example.com
PFU_EMAIL_FROM_LINE_URI: http://example.com
PFU_EN_EMAIL_WRAPPER_URI: http://example.com
PFU_ES_EMAIL_WRAPPER_URI: http://example.com
PFU_FR_EMAIL_WRAPPER_URI: http://example.com
PFU_NL_EMAIL_WRAPPER_URI: http://example.com
PFU_PT_EMAIL_WRAPPER_URI: http://example.com
RAILS_ENV: environment
RDS_DB_NAME: db_name
RDS_HOSTNAME: hostname
RDS_PASSWORD: password
RDS_PORT: port
RDS_USERNAME: username
REDIS_PORT: 6379
REDIS_URI: redis://localhost:6379
ROOT_ACTION_URL: http://example.com
ROOT_URL: http://example.com
SECRET_KEY_BASE: secret_key_base
SHARE_PROGRESS_API_KEY: api_key
SQS_QUEUE_URL: http://example.com